 .main {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 30px;
 }

 .main__title {
   color: var(--white);
 }

 .main__tabs {
   margin: 0 auto;
   max-width: 1200px;
 }

 .tabs {
   margin-top: 40px;
 }

 .tabs__wrap-header {
   margin: 0;
   padding: 0;
   list-style: none;
   display: none;
   background-color: #ffffff;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
 }

 .tabs__wrap-header--active {
   display: block;
 }

 .tabs__list-viewer {
   border-radius: 10px;
   padding: 15px 20px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: #fff;
   position: relative;
   font-size: 16px;

   &::after {
     content: "";
     position: absolute;
     top: 30%;
     transform: rotate(135deg);
     right: 15px;
     width: 10px;
     height: 10px;
     border-top: 1px solid var(--black);
     border-right: 1px solid var(--black);
     transition: all 0.3s ease-in-out;
   }
 }

 .tabs__list-header {
   border-top: 1px solid var(--blue)
 }

 .tabs__list-btn {
   margin: 0;
   padding: 0;
   margin: 10px 0;
   padding: 5px 20px;
   width: 100%;
   text-align: left;
   border: none;
   background-color: transparent;
   color: var(--black);
 }

 .tabs__content-item {
   display: none;
 }

 .tabs__content-item--active {
   display: block;
 }

 .tabs__list-viewer--active {
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;

   &::after {
     content: "";
     top: 30%;
     transform: rotate(-45deg);
   }
 }

 .tabs__content-wrap {
   margin: 0;
   padding: 0;
   margin-top: 40px;
   padding: 10px;
   border-radius: 10px;
   background-color: #ffffff;
 }

 .tabs__info-text {
   margin-top: 10px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid var(--blue);
 }

 .tabs__info-title {
   margin: 0;
   padding: 0;
   font-size: 18px;
   font-weight: 400;
 }

 .tabs__info-pint {
   font-size: 20px;
   font-weight: 700;
 }

 @include media-md {
   .main__title {
     margin: 0;
     text-align: center;
   }

   .tabs {
     border-radius: 10px;
     background-color: #ffffff;
   }

   .tabs__list-viewer {
     display: none;
   }

   .tabs__wrap-header {
     display: flex;
     justify-content: space-around;
     background-color: var(--blue);
     border-radius: 10px;
     border-bottom-left-radius: 0px;
     border-bottom-right-radius: 0px;
   }

   .tabs__list-header:first-of-type .tabs__list-btn {
     border-top-left-radius: 10px;
   }

   .tabs__list-header:last-of-type .tabs__list-btn {
     border-top-right-radius: 10px;

     &::after {
       width: 0;
       height: 0;
     }
   }

   .tabs__list-header {
     border-top: none;
     width: 100%;

   }

   .tabs__list-btn {
     position: relative;
     width: 100%;
     margin: 0;
     padding: 20px;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
     color: var(--white);

     &::after {
       content: "";
       position: absolute;
       right: -2px;
       top: 50%;
       transform: translateY(-50%);
       width: 3px;
       height: 70%;
       background-color: var(--white);

     }
   }

   .tabs__list-btn:hover {
     background-color: var(--blue-hover);
   }

   .tabs__btn--active {
     background-color: var(--white-hover);
     color: var(--black);
   }

   .tabs__info-plot {
     display: flex;
   }

   .tabs__info-title {
     line-height: 1;
   }

   .tabs__info-pint {
     font-size: 16px;
   }

   .tabs__info-text {
     border: none;
     border-left: 1px solid var(--blue);
     border-radius: 0;
   }
 }

 .product {
  margin-top: 20px;
   display: flex;
   flex-wrap: wrap;
 }

 .product-card {
   width: calc(100% - 20px);
   margin: 20px 10px;
   padding: 10px;
   box-shadow: 8px 8px 12px 6px rgba(0, 0, 0, 0.24);
   border-radius: 10px;
    &:hover{
      .product-card__cart{
        border: none;
        background-color: var(--blue);

      }
      .product-card__carе--inline{
        fill: var(--white);
      }
    }
 }
.product-card__link{
  text-align: center;
  color: var(--black);
  transition: all 0.3s ease-in-out;
  &:hover{
    color: var(--blue);
  }
}
.product-card__wrap{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 30px;
}
.product-card__cost{
  width: 100%;
  margin-right: 10px;
  padding: 5px 0;
  border-radius: 10px;
  background-color: #ebebeb;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
}
.product-card__cart{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  // padding: 5px;
  border: 2px solid var(--blue);
  border-radius: 10px;
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
.product-card__carе--inline{
  fill: var(--blue);
}
@include media-sm {
  .product-card {
    width: calc(50% - 20px);
  }
}
@include media-md {
  .product-card {
    width: calc(25% - 20px);
  }
}
